@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

@import 'var-mix';

//
// $darkmagenta: #853752;
// $pastelviolet: #cc8fa9;
// $pastelpink: #e095a2;
// $offwhite: #dedce9;
// $neutralbrown: #5a2d17;
// $neutralgreen: #314124;
// $neutralsienna: #67311a;
// $pastelplum: #54406d;
// $offblack: #080c0f;
// $darkblue: #0f273b;
// $neutralblue: #374a60;
// $neutralpuce: #68737e;
// $funteal: #6e9995;
// $funpink: #ef3c79;
// $western-font: 'Cabin Sketch', cursive;
// $playful-font: 'Yellowtail', cursive;
// $mobile-width: 767px;
// $tablet-width: 768px;
// $desktop-width: 1024px;
//
// $theme1: (
// bg-color: $pastelviolet,
// font-color: $funteal
// );
//
// $theme2: (
// bg-color: $darkblue,
// font-color: $offblack
// );
//
// $theme3: (
// bg-color: $darkmagenta,
// font-color: $funteal
// );
//
// @mixin colorswatch($theme){
//   color: map-get($theme, font-color);
//   background-color:  map-get($theme, bg-color);
// }
//
// @mixin mobile {
//   @media (max-width: #{$mobile-width}) {
//     @content;
//   }
// }
//
// @mixin tablet {
//   @media (min-width: #{$mobile-width +1px}) and (max-width: #{$desktop-width - 1px}) {
//     @content;
//   }
// }
//
// @mixin desktop {
//   @media (min-width: #{$desktop-width}) {
//     @content;
//   }
// }

body {
  a{
    color: inherit;
    text-decoration: inherit;
  }
  padding: 1px;
  margin: 1px;
  border: 1px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/images/room3-500.png);
  //setting the gneeric background image so hopefully on transitions there isnt a white flash
  @include mobile {
    min-width: 350px;
    font-size: .75rem;
    background-image: url(../assets/images/room3-500.png);
  }
  @include tablet {
    font-size: 1.5em;
    background-image: url(../assets/images/room3-1000.png);
  }
  @include desktop {
    font-size: 1.75rem;
    background-image: url(../assets/images/room3-2000.png);
  }
}

body.tour-page {
  background-color: $neutralbrown !important;
  background-image: none !important;
}

.master-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color: inherit;
}

#landing {
  display: flex;
  flex-direction: column;
  // width: 100%;
  height: 100vh;
  .main-area {
    height: 60vh;;
    margin: 1;
  }
  .wrapper {
    flex: 1;
  }
  .header {
    text-align: center;
    @include colorswatch($theme1);
    }
  .content-link {
    width: 350px;
    margin: auto;
    text-align: center;
    @include colorswatch($theme3);
  }

  .fluff {
    width: 500px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    @include colorswatch($theme2);
    opacity: .5;
    border-radius: 50px;
    font-size: .7em;
    .fluff:hover{
      opacity: 1;
  }
}
}

.footer-links  {
  font-family: $western-font;
  display: flex;
  flex-direction: row;
  flex: space-around;
  width: 100%;
  max-height: 150px;
  min-height: 75px;
  margin-bottom: 1px;
  @include colorswatch($theme2);
  div {
    width: 33%;
    text-align: center;
  }
}

#slideshow-wrapper {
  width:100vw;
  margin-top: 5px;
  margin-bottom: -10%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.slideshow-holder {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;

  .mySlides {
    justify-content: center;
  }

}
.text {
  color: $funpink;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 150px;
  width: 90%;
  text-align: justify;
}
//
// .fade {
//   -webkit-animation-name: fade;
//   -webkit-animation-duration: 1.5s;
//   animation-name: fade;
//   animation-duration: 1.5s;
// }
//
// @-webkit-keyframes fade {
//   from {opacity: .4}
//   to {opacity: 1}
// }
//
// @keyframes fade {
//   from {opacity: .4}
//   to {opacity: 1}
// }
