//mixins - variables and animations
$darkmagenta: #853752;
$pastelviolet: #cc8fa9;
$pastelpink: #e095a2;
$offwhite: #dedce9;
$neutralbrown: #5a2d17;
$neutralgreen: #314124;
$neutralsienna: #67311a;
$pastelplum: #54406d;
$offblack: #080c0f;
$darkblue: #0f273b;
$neutralblue: #374a60;
$neutralpuce: #68737e;
$funteal: #6e9995;
$funpink: #ef3c79;
$western-font: 'Cabin Sketch', cursive;
$playful-font: 'Yellowtail', cursive;
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

$theme1: (
bg-color: $pastelviolet,
font-color: $funteal
);

$theme2: (
bg-color: $darkblue,
font-color: $offblack
);

$theme3: (
bg-color: $darkmagenta,
font-color: $funteal
);


@mixin colorSwatch($theme){
  color: map-get($theme, font-color);
  background-color:  map-get($theme, bg-color);
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width +1px}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

 // animations
 // .fade {
 //   -webkit-animation-name: fade;
 //   -webkit-animation-duration: 1.5s;
 //   animation-name: fade;
 //   animation-duration: 1.5s;
 // }

 @-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
